@import '../../styles/mixins';

.container {
    margin: 0 auto;
    margin-left: 1rem;
    padding: .5rem;

        @include desktop {
        padding: .25rem;
        }

    &-button {
    position: relative;
    border: none;
    font-size: .75rem;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: .3125rem;
    border: .1875rem solid transparent;

    &--login {
    margin-right: 10px;
    }
    &:hover {
    background-color: transparent;
    box-shadow: none;
    color: white;
    }

        @include tablet {
        font-size: .875rem;
        }

        @include desktop {
        font-size: 1rem;
        }
}
}