@import '../../styles/mixins';

.faq {
    margin: 0 auto;

    &-container {
    margin: 0 auto;
    width: 70%; 
    }

    &-title {
    font-size: 1.5rem;
    }

    &-answer {
    font-size: 1.25rem;
    line-height: 2.5rem;
    text-align: center;
    
    }

    &-faq {
    display: flex;
    justify-content: center;
    padding: .9375rem;
    }

    &-btn {
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    border-radius: .5rem;
    border: .1875rem solid transparent;
    color: $font;
    text-transform: uppercase;
    background-color: $grey;
    font-weight: 600;
    letter-spacing: .125rem;
    margin: 10px;
    
        &:hover {
        opacity: 1 !important;
        color: $white;
        background: $font;
        box-shadow: 0 1px 1px 1px rgba(#aaa, 0.9);
        }
    } 
}