@import "../../styles/mixins";

.booking {
  margin: 0;
 
  &-container {
    margin: 0;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;

      &__middle {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.5rem;
      }

      &__time {
      letter-spacing: .0625rem;
      font-size: 1rem;
      font-weight: 600;
      color: $font;
      border: none;
      }

      &__title {
        font-size: 1.5rem;
        color: $font;
      }

      &__bottom {
        width: 100%;
        margin-top: 1rem;
        
      }

  }



 
 
 

  &-form {
    display: flex;
    flex-direction: column;
    line-height: 3;
    font-size: 1.5rem;
    color: $font;
    background-color: $grey;

      &__info {
      font-size: 1.5rem;
      }

      &__container {
      display: flex;
      flex-direction: column;
      padding: 0.625rem;
      }

    &__drop {
      padding: 0.625rem;
    
    }

    
  }

  &-wrapper {
    display: flex;
  }

  &-select {
    font-size: 1rem;
    font-weight: 600;
    color: $font;
   // padding: 0.3125rem;
    border: none;
  }

  &-label {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 600;
  }

  &-control {
    font-size: 1rem;
  }
}

.time {
  margin: 0;
  // background-color: $grey;
  
  &-select {
    font-size: 1rem;
    color: $font;
    text-align: center;
    width: 15%;
    height: 4vh;
  }

  &-body {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    color: $font;
    background-color: transparent;
    transition: all 0.3s linear;
    margin-bottom: 0.9375rem;
    margin-right: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    font-size: 1rem;
    outline: none;
    border-radius: 0.3125rem;
    border: 0.1875rem solid transparent;

    &:hover {
      opacity: 1 !important;
      color: #fff;
      //background: $font;
    }

  
  }
  &-booking {
    margin: 0.25rem 0 0 0.25rem;
  }
}

.modal {
  margin: 0 auto;

  &-alert {
    margin: 1rem 0 0.25rem 0;
    color: $font;
    font-size: 1.5rem;
  }

  &-btn {
    margin-top: 2.5rem;
    margin-bottom: .9375rem;
    font-size: 1rem;
    outline: none;
    border-radius: .3125rem;
    border: .1875rem solid transparent;
    color: $font;
    text-transform: uppercase;
    margin-top: 1rem;
    background-color: $white;
    font-weight: 600;
    letter-spacing: .125rem;

        &:hover {
        opacity: 1 !important;
        color: $white;
        background: $font;
        box-shadow: 0 1px 1px 1px rgba(#aaa, 0.9);
  }
}
}

//react calendar styles


.react-calendar {
  width: 47.5rem;
  border-radius: .625rem;


.react-calendar__navigation {
.react-calendar__navigation__arrow {
  color: $black;
}

.react-calendar__navigation__label {
  font-weight: 600;
  color: $font;
  font-size: 1.5rem;
  }
}
.react-calendar__tile {
  height: 50px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 1.25rem;
  color: $font;
}

.react-calendar__tile--active {
  background: $shade;
  color: $white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: $highlight;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 1.25rem;
  color: $font;
}

.react-calendar__month-view__days__day--weekend {
  color: $active;
}
}
