@import "../../styles/mixins";

.booking {
  margin: 0;

  &-select {
  font-size: .8125rem;
  font-weight: 600;
  color: $font;

      @include tablet {
      display: inline-block;
      padding: 1.25rem;
      }

      @include desktop {
      font-size: 1rem;
      padding: 0;
      margin-left: 1rem;
      }
  }

  &-container {
   width: 100%;

      @include desktop {
      float: left;
      width: 45%;
      }

      &__calendar {
       padding: 1rem;

      @include desktop {
      margin-left: 5rem;
      margin-top: 5rem;
      }
      }

      &__time {
        letter-spacing: .0625rem;
        font-size: .75rem;
        font-weight: 600;
        color: $font;
        border: none;
        border-radius: .3125rem;
        background-color: $white;
            
          @include desktop {
          font-size: 1rem;
          margin-left: 1rem;
          }
      }

      &__title {
        font-size: .875rem;
        color: $font;
        font-weight: 600;
        padding-top: .625rem;
        font-style: oblique;
        margin: .625rem;

        @include tablet {
        padding: 0;
        }

         @include desktop {
          font-size: 1.2rem;
          padding-top: .5rem;
         }
    
      }
      
      &__select {
        font-size: .875rem;
        font-weight: 600;
        color: $font;
         // padding: 0.3125rem;
        border: none;
        
        @include desktop {
          font-size: 1rem;
        }
      }

  }

   &-left {
    margin: 0;
    background-color: $grey;

      @include tablet {
      display: flex;
      justify-content: center;
      }

      @include desktop {
      margin-right: 2%;
      }
   }
  
   &-right {
    margin: 0;
    padding-left: 1rem;
    background-color: $grey;
    margin-top: -1rem;
      
      @include desktop {
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      }
  }

   &-middle {
    margin: 0;
    margin-top: -1rem;

      @include desktop {
      margin: 0;
      top: -1.5rem;
      }
  }

  &-form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: $font;
    background-color: $grey;
   
        @include desktop {
        line-height: 3;
        font-size: 1rem;
        padding-left: 1rem;

    }
    &__label {
     width: 80%;
     font-size: .75rem;
      font-weight: 400;
      border: none;
      border-radius: .3125rem;
      background-color: $white;

      @include tablet {
      width: 60%;
      font-size: .875rem;
      }

      @include desktop {
        width: 50%;
        font-size: 1rem;
      }
    }

      &__info {
      font-size: .8125rem;
      font-weight: 600;
      color: $font;

          @include desktop {
          font-size: .9375rem;
          }
      }

      &__container {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      }
  }

  &-btn {
    margin-bottom: .9375rem;
    font-size: .75rem;
    outline: none;
    border-radius: .3125rem;
    border: .1875rem solid transparent;
    color: $font;
    text-transform: uppercase;
    background-color: $white;
    font-weight: 600;
    letter-spacing: .125rem;
    width: 70%;

        @include tablet {
        width: 30%;
        font-size: .875rem;
        }
   
        @include desktop {
        // margin-top: .5rem;
        width: 50%;
        font-size: 1rem;
        }

    &:hover {
      opacity: 1 !important;
      color: $white;
      background: $font;
      box-shadow: 0 1px 1px 1px rgba(#aaa, 0.9);
    }
}
}

.modal {
  margin: 0 auto;

  &-alert {
    margin: 1rem 0 0.25rem 0;
    color: $font;
    font-size: 1.5rem;
  }

  &-btn {
    margin-top: 2.5rem;
    margin-bottom: .9375rem;
    font-size: 1rem;
    outline: none;
    border-radius: .3125rem;
    border: .1875rem solid transparent;
    color: $font;
    text-transform: uppercase;
    margin-top: 1rem;
    background-color: $white;
    font-weight: 600;
    letter-spacing: .125rem;

        &:hover {
        opacity: 1 !important;
        color: $white;
        background: $font;
        box-shadow: 0 1px 1px 1px rgba(#aaa, 0.9);
  }
}
}

//react calendar styles
.react-calendar {
  width: 30rem;
  border-radius: .625rem;
}
.react-calendar__navigation {
.react-calendar__navigation__arrow {
  color: $black;
}

.react-calendar__navigation__label {
  font-size: .9375rem;
  
    @include tablet {
    font-weight: 600;
    color: $font;
    font-size: 1.5rem;
    }
}

.react-calendar__tile {
  height: 50px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: .875rem;
  color: $font;
  
    @include tablet {
    font-size: 1.25rem;
    }
}

.react-calendar__tile--active {
  background: $shade;
  color: $white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: $highlight;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 14px;
  color: $font;
  
    @include tablet {
    font-size: 1.25rem;
    }
}

.react-calendar__month-view__days__day--weekend {
  color: $active;
}
}
