@import '../../styles/mixins';

.about {
    margin: 0, auto;

    &-container {
    width: 100%;
    color: $font;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &-title {
    width: 100%;
    margin-left: 2.5rem;
    }

    &-section {
    width: 90%;
    margin: 1rem;
    }
}