@import '../../styles/mixins';

.social {
    margin: 0;
    color: grey;
    padding: .5rem 1.25rem .5rem 1.25rem;

    &-container {
    display: flex;
    justify-content: center;
    background-color: $grey;
    }
}