@import '../../styles/mixins';

.social {
	margin-top: 27px;

  &-icon{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  $font;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  margin-right: 3px;
  margin-bottom: 5px;
  
    @include desktop {
    width: 45px;
    height: 45px;
    font-size: 30px;
    margin-right: 25px;
    line-height: 52px;
    }  
  }
}
