@import '../../styles/mixins';

.footer{
	background: $grey;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;

&-left{
	width: 40%;
  display: inline-block;
	vertical-align: top;
  margin-left: 5rem;
}

&-logo{
	color:  #b3adad;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;

&__span{
	color: $highlight;
}
}

&-img {
  margin: 0;

  @include desktop {
    margin-left: 2rem;
  }
}

&-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

&-company{
	color:  $font;
	font-size: 1rem;
	font-weight: normal;
	
  font-style: italic;

  @include desktop {
    margin-left: 1rem;
  }
}

&-center {
  display: inline-block;
	vertical-align: top;
  width: 35%;

  @include desktop {
    margin: 0;
    
  }
}

&-info{
	display: inline-block;
	color: $font;
  font-weight:400;
	vertical-align: middle;
	margin: .75rem;
}

&-address{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

&-contact{
	color:  $highlight;
	text-decoration: none;;
}

&-right{
	width: 20%;
  display: inline-block;
	vertical-align: top;
  
}

&-about{
	line-height: 20px;
	color:  $span;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

&-questions{
	display: block;
	color:  $font;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

&-social{
	margin-top: 25px;

  &__media{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  	background-color: $background;
    border-radius: 5px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
}
}

@media (max-width: 1280px) {
	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
}
