@import '../../styles/mixins';

.header {
    margin: 0 auto;

    &-container {
    background-color: $grey;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: contain;
    }

    &-social {
    margin: 0;
    display: flex;
    }

}