@import '../../styles/mixins';

.menu{
    color: rgb(14, 13, 13);

    &-item {
    text-decoration: none;
    color:rgb(14, 13, 13);
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: .875rem;
    height: .8125rem;
    left: 1.0625rem;
    top: 1.125rem;

      @include tablet {
        position: fixed;
        width: 2.25rem;
        height: 1.875rem;
        left: 2.25rem;
        top: 2.25rem;
      }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $font;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: $font;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: $font;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

// .Menu{
//   position: relative;
//   margin: 2em 3em;
// }

// .m-item{
//   position: absolute;
//   top: 0;
  
//   width: 5.5em;
//   background-color: #301A4B;
//   box-shadow: 1px 2px 2px #301A4B;

//   padding: 0.2em;
  
//   border-radius: 1em;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   font-size: 1.5em;
//   color: #EDFFEC;
//   cursor: pointer;

//   transition: 1s;
// }

// .m-item:hover{
//   border: 1px solid black;
// }

// .m-logo{
//   z-index: 1;
// }

// .open-1{
//   top: 1.8em;
//   background-color: #9b5de5;
// }
// .open-2{
//   top: 3.6em;
//   background-color: #f15bb5;
// }
// .open-3{
//   top: 5.4em;
//   background-color: #00BBF9;
// }

// .open-4{
//   top: 7.4em;
//   background-color: #747b7e;
// }

// .open-5{
//   top: 10.4em;
//   background-color: #0f79a7;
// }

