@import '../../styles/mixins';

.hero {
    margin: 0 auto;
    width: 100%;

    &-container {
    height: 30vh;
    background: linear-gradient(rgba($black, 0.1), rgba($black, 0.1)), url('../../Assets/Images/main.jpg') center/cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 
        @include tablet {
         height: 73vh;
        }

        @include desktop {
         height: 116vh;
        }
    }
}